<section id="hero" class="section hero-{{HERO_VARIANT}} py-5">
  <div class="container">
    <div class="row align-items-center">

      <!-- Text Column -->
      <div class="col-md-6 p-4" style="background-color:#f3f2ed;"">
        <h1>{{HERO_HEADLINE}}</h1>
        <p class=" lead">{{HERO_SUBHEADLINE}}</p>

        <a href="{{HERO_CTA_URL}}" class="btn btn-primary">
          {{HERO_CTA_LABEL}}
        </a>
      </div>

      <!-- Rotating Image Column -->
      <div class="col-md-6">
        <div class="hero-image-rotator" style="box-shadow: 10px 10px 2px grey;">
          {{HERO_IMAGES}}
        </div>
      </div>

    </div>
  </div>
</section>