<header class="hero-{{HERO_VARIANT}} container py-5 text-center">
  <div class="row justify-content-center" style="align-items: center; min-height: 60vh;">
    <div class="col-lg-8">
      <h1>{{HERO_HEADLINE}}</h1>
      <p class="lead">{{HERO_SUBHEADLINE}}</p>
<div class="hero-cta-buttons d-flex gap-3 flex-wrap justify-content-center">
  {{HERO_CTA_BUTTONS}}
</div>

    </div>

    <div class="col-lg-8">
      <img src="{{HERO_IMAGE}}" alt="" class="img-fluid mx-auto d-block" loading="eager" />
    </div>
  </div>
</header>
